{% macro displaySourceList(source_list) %}

    {% for source in source_list %}

        <div class="col-sm-6 col-md-4 col-lg-4 source-list">
            <li style="list-style: none"><a href="/news/{{source.id}}">{{source.name}}</a></li>
        </div> 

    {% endfor %}

{% endmacro %}


{% macro displayArticles(article_list) %}

    {% for article in article_list %}

    <div class="well" style="height: 290px; margin: 15px;">
        <div class="col-md-6 article-image" style="display: inline-block; height: 250px; background: url({{article.image_url}}) no-repeat center;"></div>
        <div class="col-md-6 article">
            <h3>{{article.title}}</h3><h5>by {{article.author}}</h5>
            <p class="description">{{article.description}} <a href="{{article.url}}">Read more</a></p>
            <p class="time" style="float: right;"><b>{{article.publish_time}}</b></p>
        </div>
    </div>
            
    {% endfor %}

{% endmacro %}